* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 100%;
    padding: 10px;
    background: darkorange;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: orange;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}